body{
    background: #D2E9FF;
}

table, tr{
    border: 2px black solid;
    background: #FBFBFB;
}

h1, ul, li{
    text-align: center;
    font-family: barrio;
    border: 3px black;
    font-size: 300%;
}

td{
    text-align: center;
    font: 12px Arial, Helvetica;
    border: 3px black;
    font-size: 100%;
}

a{
    text-align: center;
    border: 1p solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    font: 12px Arial, Helvetica;
    line-height:15px;
    display: inline;
}

.timer{
  font-size: 100px;
}

.btn-xlarge{
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
        border-radius: 8px;
}
